


.animated-buttons{
    list-style: none;
    display: flex;
    margin: 5rem auto;
    width: 70%;
    justify-content: space-evenly;
}

.animated-button{
    padding: 1rem 2rem;
    border: solid lightgray 0.05rem;
    border-radius: .25rem;
}    

.animated-button:hover{
    cursor: pointer;
    border-color: rgb(136, 135, 135);
}

.animated-button:focus{
    outline: none;
    border-width: 0.1rem;
    padding: 0.95rem 1.95rem;

}
